# Java / Spring Boot / Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

**/build/
**/.gradle/

*.iml
*.ipr
*.iws
.idea/
.vscode/

# Logs
*.log

# Spring Boot
*.pid
*.tmp

# Kotlin
*.class
.kotlin/
.kotlin-build/

# Node / Vite / React
node_modules/
dist/
dist-ssr/
.vite/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo
*~

server/src/main/resources/static/*
